@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--color-primary: #0277bd;
	--color-primary-dark: #004c8c;
	--color-primary-light: #58a5f0;
	--color-secondary: #ffeb3b;
	--img-size: 140px;
}

li {
	list-style: none;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #f3f3f3;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	/* background-color: var(--color-primary-light); */
}
/* navbar */
.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}

.link-style {
	padding: 10px;
	margin-right: 20px;
	cursor: pointer;
	text-decoration: none;
}

.link-style:visited {
	color: white;
}

.link-style:hover {
	color: var(--color-secondary);
}

.nav-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
	color: white;
}

.nav-logo-img {
	height: 100px;
	display: block;
	padding: 15px;
}
.poke .loading {
	width: 150px;
	margin-top: 3rem;
}

/* pokemon style*/
.pokemon-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.2rem;
}

.pokemon-img {
	width: var(--img-size);
	height: var(--img-size);
	padding: 0.2rem;
	border: 1px black solid;
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	cursor: pointer;
	background-color: #fff;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	transition: all 200ms ease-in-out;
}
.pokemon-img:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.pokemon-name {
	padding: 0.4rem;
	text-align: center;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	background-color: #333;
	color: #f3f3f3;
	margin: 0 auto;
	width: var(--img-size);
}

/* pagination*/
.pagination {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/*search bar*/
.form-group {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-text {
	flex: 1;
	padding: 0.4rem;
	margin: 0 0.4rem;
}

/* pokemon detail */
.pokemon-detail {
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}

.pokemon-detail-left {
	display: block;
	width: 400px;
	height: 400px;
	object-fit: contain;
	padding: 20px;
	border: 5px solid rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.pokemon-detail-right {
	padding: 15px;
	font-weight: bold;
	font-size: large;
}

.pokemon-detail-right-top {
	font-size: larger;
}
.pokemon-detail-sprites {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
.pokemon-detail-sprites > img {
	display: block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.back-btn {
	display: block;
	margin: 15px auto;
	font-family: 'Roboto', sans-serif;
	padding: 0.6rem;
	border: none;
	color: white;
	background-color: var(--color-primary);
	border-radius: 0.2rem;
	font-weight: bold;
	width: 120px;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.back-btn:hover {
	color: var(--color-secondary);
}

/* utils */

.text-center {
	text-align: center;
}

.btn-primary {
	font-family: 'Roboto', sans-serif;
	padding: 0.6rem;
	border: none;
	color: white;
	background-color: var(--color-primary);
	border-radius: 0.2rem;
	font-weight: bold;
	margin: 0.4rem;
	width: 120px;
	cursor: pointer;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
	background-color: var(--color-primary-dark);
	color: var(--color-secondary);
}
